
:root {
    --bg-color: hsl(0, 0%, 98%);
    --text-color: hsl(200, 15%, 8%);
    --elements-color: hsl(0, 0%, 100%);
    --input-color: hsl(0, 0%, 52%);
    --shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode {
    --bg-color: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
    --elements-color: hsl(209, 23%, 22%);
    --shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif; /* Fuente del desafío */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: var(--elements-color);
    box-shadow: var(--shadow);
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-btn {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-weight: 600;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    gap: 40px;
    flex-wrap: wrap; 
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--elements-color);
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 0 32px;
    width: 100%;
    max-width: 480px; 
    height: 56px;
    transition: background-color 0.3s ease;
}

.search-bar .search-icon {
    font-size: 1.2rem;
    margin-right: 24px;
    filter: grayscale(100%);
    opacity: 0.5;
}

.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
}

.search-bar input::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

.region-select {
    background-color: var(--elements-color);
    color: var(--text-color);
    border: none;
    outline: none;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 0 24px;
    width: 200px;
    height: 56px;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 40px;
}

.country-card {
    background-color: var(--elements-color);
    border-radius: 8px;
    box-shadow: var(--shadow);
    overflow: hidden;
    cursor: pointer;
}

.country-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}


@media (max-width: 768px) {
    .controls {
        flex-direction: column;
        align-items: flex-start;
    }
}
